@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "slowsocks";
  default: true;
  prefersdark: true;
  color-scheme: "light";
  --color-base-100: oklch(98% 0 0);
  --color-base-200: oklch(97% 0 0);
  --color-base-300: oklch(92% 0 0);
  --color-base-content: oklch(20% 0 0);
  --color-primary: oklch(62% 0.265 303.9);
  --color-primary-content: oklch(97% 0.014 308.299);
  --color-secondary: oklch(62% 0.214 259.815);
  --color-secondary-content: oklch(97% 0.014 254.604);
  --color-accent: oklch(72% 0.219 149.579);
  --color-accent-content: oklch(98% 0.018 155.826);
  --color-neutral: oklch(37% 0 0);
  --color-neutral-content: oklch(98% 0 0);
  --color-info: oklch(62% 0.214 259.815);
  --color-info-content: oklch(97% 0.014 254.604);
  --color-success: oklch(72% 0.219 149.579);
  --color-success-content: oklch(98% 0.018 155.826);
  --color-warning: oklch(76% 0.188 70.08);
  --color-warning-content: oklch(98% 0.022 95.277);
  --color-error: oklch(63% 0.237 25.331);
  --color-error-content: oklch(97% 0.013 17.38);
  --radius-selector: 0.5rem;
  --radius-field: 0.5rem;
  --radius-box: 0.25rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}
